

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #5A7BB0; /* Azul mais clean */
    color: #fff;
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 100vh;
    overflow: hidden;
  }
  
  /* Header */
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
    z-index: 10;
  }
  
  .header ul {
    display: flex;
    justify-content: center;
    list-style: none;
  }
  
  .header ul li {
    margin: 0 20px;
  }
  
  .header ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
  }
  
  .header ul li a:hover {
    text-decoration: underline;
  }
  
  /* Caixa de download */
  .main-container {
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  
  .download-box {
    background-color: #77d886; 
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 400px;
  }
  
  .download-btn {
    background-color: #56af32;
    color: #000;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .download-btn:hover {
    background-color: #FFC107;
  }
  
  .hidden {
    display: none;
  }
  
  #message {
    margin-top: 20px;
    color: #ffffff;
    font-size: 14px;
  }
  
  /* Responsividade */
  @media (max-width: 960px) {
    .header {
      display: none;
    }
  }
  
  @media (max-width: 768px) {
    .download-box {
      width: 90%;
    }
  
    .download-btn {
      font-size: 14px;
      padding: 10px 20px;
    }
  
    #message {
      font-size: 12px;
    }
  }
  
  @media (max-width: 480px) {
    .download-box {
      padding: 15px;
    }
  
    .download-btn {
      font-size: 12px;
      padding: 8px 15px;
    }
  }